@using RS1_Teretana.EntityModels;
@using RS1_WebApp.Areas.Clanovi.ViewModels
@model PlatiClanarinuVM


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>

    </script>
    <style>

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin: 0 -16px;
        }

        .col-25 {
            -ms-flex: 25%;
            flex: 25%;
        }

        .col-50 {
            -ms-flex: 50%;
            flex: 50%;
        }

        .col-75 {
            -ms-flex: 75%;
            flex: 75%;
        }

        .col-25,
        .col-50,
        .col-75 {
            padding: 0 16px;
        }

        .container1 {
            background-color: #aad1ee;
            padding: 5px 20px 15px 20px;
            border: 1px solid black;
            border-radius: 3px;
        }

        input[type=text] {
            width: 100%;
            margin-bottom: 20px;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        label {
            margin-bottom: 10px;
            display: block;
        }

        .icon-container {
            margin-bottom: 20px;
            padding: 7px 0;
            font-size: 24px;
        }

        .btn {
            background-color: #469ADA;
            color: white;
            padding: 12px;
            margin: 10px 0;
            border: none;
            width: 100%;
            border-radius: 3px;
            cursor: pointer;
            font-size: 17px;
        }

            .btn:hover {
                background-color: #45a049;
            }

        span.price {
            float: right;
            color: grey;
        }

        body {
            color: black;
        }
     form{
         display:inline-flex;
         width:100%;
     }
 
    </style>
</head>
<body>
    <br /><br />

    <div class="container1">
        <h1>Ispunite obavezna polja za plaćanje članarine </h1>
        <div class="row">
            <form asp-controller="Clanarina" asp-action="PlatiSnimi" method="post">
                <div class="col-75">
                    <div class="container1">


                        <div class="row">
                            <div class="col-50">
                                <h3>Lični podaci </h3>

                                <label><i class="fa fa-user" style="color:black;"></i>Ime i prezime</label>
                                @Html.TextBoxFor(model => model.ImeP, new { @class = "form-control", @placeholder = "Ime i prezime" })
                                @Html.ValidationMessageFor(model => model.ImeP, "", new { @class = "text-danger" })
                                <label for="email"><i class="fa fa-envelope"></i> Email</label>

                                @Html.TextBoxFor(model => model.email, new { @class = "form-control", @placeholder = "E-mail" })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                <label for="adr"><i class="fa fa-address-card-o"></i> Adresa</label>
                                <input type="text" id="adr" name="address" placeholder="Adresa">


                            </div>

                            <div class="col-50">
                                <h3>Podaci o plaćanju</h3>

                                <div class="icon-container">
                                    <i class="fa fa-cc-visa" style="color:navy;"></i>
                                    <i class="fa fa-cc-amex" style="color:blue;"></i>
                                    <i class="fa fa-cc-mastercard" style="color: red;"></i>
                                    <i class="fa fa-cc-discover" style="color:orange;"></i>
                                    <i class="fa fa-paypal" style="color:black;"></i>

                                </div>


                                <label><i class="fa fa-credit-card" style="color: black;"></i> Broj kartice</label>
                                @Html.TextBoxFor(model => model.BrojKartice, new { @class = "form-control", @placeholder = "Broj kartice" })
                                @Html.ValidationMessageFor(model => model.BrojKartice, "", new { @class = "text-danger" })


                                <div class="row">

                                    <div class="col-50">

                                        <label><i style="color:black;"></i></label>
                                        @Html.TextBoxFor(model => model.CVV, new { @class = "form-control", @placeholder = "CVV" })
                                        @Html.ValidationMessageFor(model => model.CVV, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br />



                    </div>
                </div>

                <div class="col-25">

                    <div class="container">
                        <p>
                            <label>Odaberite teretanu: </label>
                            <select asp-for="TeretanaID" asp-items="Model.teretane" class="form-control"></select>
                        </p>
                        <p>



                            <label>Odaberite tip članarine: </label>
                            <select asp-for="TipClanarineID" asp-items="Model.Clanarine" id="TipClanarineID" class="form-control" name="TipClanarineID" onchange="geek()">
                                @*<option value="@Model.TipClanarineID" selected="selected">odaberi</option>*@
                            </select>


                        </p>
                        <hr>
                        <p>
                            Ukupno <span id="p" class="price" style="color:black">

                                <b>5 KM</b>


                            </span>
                        </p>
                        <label>
                            <input type="checkbox" checked="checked" name="sameadr"> Pošalji mail o potvrdi uplate
                        </label>

                      
                        <input type="hidden" asp-for="@Model.ClanID" readonly />
                      
                        <input type="submit" value="Plati" class="btn btn-success" />

                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        function geek() {

             var x = document.getElementById("TipClanarineID").selectedIndex;
    
                document.getElementById("p").innerHTML = "5 KM";
               
                if (x == 1) {
                    document.getElementById("p").innerHTML = "60 KM";
                }
                if (x == 2) {
                    document.getElementById("p").innerHTML = "750 KM";
                }

        }
    </script>
</body>